
@media (max-width: 1350px){
      .about__inner{
            display: block ;
      }

      .about__information{
            margin: auto;
      }
      

      

      .about__content{
            text-align: center;
            max-width: 80%;
      }

      .about__text{  
            margin: auto;
            padding-bottom: 20px;
      }

      

   

@media (max-width: 1250px){
      
      .header .menu{
            order: 1;
      }

    
      .header .menu__list{
            display: block;
            position: absolute;
            top: 100px;
            left: 0;
            right: 0;
            text-align: center;
            transform: translateY(-500px);
            transition: all .5s;
      }
      .header .menu__list.menu__list--active{
            transform: translateY(0);
      }

      
      .menu__list-link{
            display: block;
            padding: 15px 0;
            
      }
      .menu__btn{
            display: block;
            width: 30px;
            height: 24px;
            border: none;
            border-top: 2px solid #fefefe;
            border-bottom: 2px solid #fefefe;
            background-color: transparent;
            position: relative;
            cursor: pointer;
            
      }

      .menu__btn::before{
            content: '';
            position: absolute;
            width: 30px;
            height: 1px;
            background-color: #fefefe;
            left: 0;
            top: 10px;
      }

      

      .language__btn{
            border: none;
      }

      .top{
            background-size: 60%;
            background-position-y: 80px;
      }

      .slick-slide img{
            display: flex;
            width: 100%;
      }

      .for__img-text{
            right: 10%;
      }

      .news__items{
            display: block;
            width: 50%;
            align-items: center;
            margin: auto;
            
      }

      .news__item{
            margin-bottom: 50px;
            margin-right: 0;
      }

      .form__box-inner{
            display: block;
      }

      .form__box-left{
            max-width: 100%;
            text-align: center;
      }

      .form__left-top{
            display: block;
            align-items: center;
      }

      .left__address-name::before,
      .left__mail-name::before,
      .left__phone-name::before{
            display: none;
      }

      .left__address-mail,
      .left__address-text{
            margin-right: 0;
      }
      .form__left-bottom iframe{
            width: 100%;
      }

      .form__box-right{
            max-width: 100%;
            margin-top: 100px;
      }

      
}

@media (max-width: 1170px){



      .about__text{
            width: 50%;
            margin: auto;
            padding-bottom: 20px;
      }

}

@media (max-width: 1090px){
      

      .top__right-img{
            display: none; 
      }

      .top__text{
            display: none;
      }

      .top__title{
            text-align: center;
            max-width: 90%;
            margin-left: auto;
            margin-right: auto;
      }

      .top__content-about{
            margin-left: auto;
            margin-right: auto;
            width: 15em;
            text-align: center;
      }
}

@media (max-width: 990px){
      .top__title{
            text-align: left;
            max-width: 70%;
      }

      .top__text{
            margin-left: 0;
      }

      .top__content-about{
            text-align: center;
            margin-right: 83px;
            
      }

      .about__information{
            max-width: 60%;
            
      }
      .about__content{
            max-width: 100%;
            margin-left: 0;
            text-align: center;
      }

      .about__text,
      .about__title{
            padding-bottom: 20px;
      }

      .about__information::after{
            display: none;
      }

      .footer .menu{
            display: none;
      }

      .footer__inner{
            justify-content: center;
            margin: auto;
            
      }

      .footer__social-link{
            margin: 0 15px;
      }
}


@media (max-width: 990px){
      .for__img-text{
            display: none;
      }
}



@media (max-width: 840px){

      .top__title{
            text-align: center;
            
            margin-bottom: 130px;
      }

      .top__text{
            margin-left: 243px;
      }

      .top__content-about{
            display: none;
      }
}

@media (max-width: 790px){

      .about__information{
            max-width: 50%;
            margin-left: 0;
      }

      .about__content{
            text-align: left;
      }

      .about__text,
      .about__title{
            padding-bottom: 20px;
            margin-left: 0;
      }
}

@media (max-width: 655px){
      
      .about__information{
            max-width: 150px;

      }

      .about__information::after,
      .about__information::before{
            display: none;
      }

      

      .about__text,
      .about__title{
            text-align: left;
}

.news__items{
      width: 100%;
      margin: auto;
      align-items: center;
}

@media (max-width: 620px){
      .top__title{
            text-align: left;
            max-width: 20%;
            margin-left: 0;
            margin-bottom: 130px;
      }

      .top__text{
            margin-left: 0px;
      }
}

@media (max-width: 480px){
      .about__information{
            display: flex;
            
      }
      .about__item{
            text-align: center;
            width: 100%;
      }

      .about__text{
            display: none;
      }

      .about__text-adaptive{
            display: block;
            font-family: 'Poppins', sans-serif;
            font-weight: 400;
            font-size: 20px;
            line-height: 36px;
            margin-bottom: 40px;
            color: #2F3542;
            position: relative;
      }

      .projects__item-box{
            padding: 0px;
      }

      .slider__more-btn{
            margin-top: 65px;
            margin-bottom: 65px;
            margin-right: 5px;
            margin-left: 5px;
      }
}
     
